::ng-deep .label{
    color: #ffffff;
}
mat-tab-group{
    background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA 51%, #9D50BB 100%);
    color: #ffffff;
    height: 100vh;
    letter-spacing: 1px;
    background-size: 200% auto;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.div-row-live{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
}
.mat-card{
    margin-top: 18px;
    width: 30%;
}
.card-title-live{
    display: flex;
    flex-direction: row;
    color: black;
    padding-left: 5%;
    font-size: 12px;
}
.div-row{
    display: flex;
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.span-live-name{
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}
.span-live-date{
    display: flex; 
    font-size: 10px;
}
.card-title-channel{
    display: flex;
    flex-direction: row;
    color: black;
    letter-spacing: 0.5px;
    padding: 0% 5%;
    align-items: center;
}

:root ::ng-deep .html5-video-player:not(.ytp-transparent), .html5-video-player.unstarted-mode, .html5-video-player.ad-showing, .html5-video-player.ended-mode, .html5-video-player.ytp-fullscreen {
    background-color: #000;
    border-radius: 22px;
}
.live-iframe{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
:host ::ng-deep .mat-mdc-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin-top: 120px;
}
:host ::ng-deep .mat-mdc-card {
    position: relative;
    border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 20px));
    background-color: #ffffffbf;
    border-width: 0;
    border-style: solid;
    border-color: var(--mdc-elevated-card-container-color, transparent);
}
:host ::ng-deep .mat-mdc-card-content>:last-child:not(.mat-mdc-card-footer) {
    margin-bottom: 0;
    height: 220px;
}
@media screen and (max-width: 980px){
    .div-row-live{
        justify-content: space-between;
    }
    .mat-card{
        margin: 2%;
        width: 45%;
    }
}

@media screen and (max-width: 600px){
    .div-row-live{
        justify-content: center;
    }
    .mat-card{
        margin: 3%;
        width: 70%;
    }
    .span-live-date{
        font-size: 10px;
    }
    .card-title-channel{
        font-size: 14px;
    }
    :host ::ng-deep .mat-mdc-card-content>:last-child:not(.mat-mdc-card-footer) {
        height: 185px;
    }
}
@media screen and (max-width: 375px){
    .mat-card{
        margin: 3%;
        width: 100%;
    }
    .span-live-date{
        font-size: 10px;
    }
    .card-title-channel{
        font-size: 14px;
    }
    :host ::ng-deep .mat-mdc-card-content>:last-child:not(.mat-mdc-card-footer) {
        height: 185px;
    }
}
